---
title: Blog
noindex: true
---

<!-- page content -->
<section id="content">
	<div class="bleed aquamarine top-tall">
		<div class="flex container page-intro">
			<div class="col-10 right-2">
				<div class="padded">
					<p class="label">Strong Opinions Weakly Held</p>
					<h1 class="title">A Few Featured Articles</h1>
				</div>
			</div>
		</div>
	</div>

	<!-- cards -->
	<div class="flex container card-stack extra-bottom">
		<%
		blog.articles.select{|a| a.tags.include?('feature')}.each_with_index do |article, i|
			url = article.url
			image_name = article.data.preview || article.data.masthead
		    last_dot = url.rindex('.')
			img_url = url[0...last_dot] + '/' + image_name
		%>
			<div class="<%= 'left-2 ' if i == 0 %>col-3">

			<a class="blog-link" href="<%= url %>">
				<div class="card blog-feature">
					<img src="<%= img_url %>">
					<div class="padded">
						<p class="label"><%= article.date.strftime('%Y.%m.%d') %></p>
						<p class="subheading"><%= article.title %></p>
					</div>
				</div>
			</a>

			</div>
		<% end %>
	</div>

	<!-- blurb -->
	<div class="flex container extra-bottom">
		<div class="col-10 right-2">
			<div class="padded">
				<h2 class="heading">I'm currently writing The Experience Designer's Guidebook. More on that soon…</h2>
			</div>
		</div>
	</div>

	<!-- listing -->
	<div class="extra-bottom">
		<% page_articles.each do |article| %>
			<div class="flex container blog-stack">
				<div class="col-2 left-1">
					<div class="padded">
						<a href="<%= article.url%>" class="blog-date"><%= article.date.strftime('%Y.%m.%d') %></a>
					</div>
				</div>
				<div class="col-7">
					<div class="padded">
						<a href="<%= article.url%>"  class="blog-title"><%= article.title %></a>
					</div>
				</div>
				<div class="col-1">
					<div class="padded">
						<a href="<%= article.url%>" class="blog-arrow">➔</a>
					</div>
				</div>
			</div>
		<% end %>
	</div>

</section>
